API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=-1002748340748
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=8250510325
STRING_SESSION=